<p-toast></p-toast>
<div class="card">
    <h4><strong>Perfíl del proveedor</strong></h4>
    <div class="formgrid grid">
        <div class="field xl:col-2 md:col-4 sm:col-12">
            <h4>Datos del proveedor</h4>
        </div>
        <div class="field xl:col-10 md:col-8 sm:col-12">
            <div class="formgrid grid">
                <div class="field xl:col-12 md:col-12 sm:col-12">
                    <label for="razon_social">Razon social</label>
                    <input id="razon_social" type="text" [(ngModel)]="proveedor.razon_social" name="razon_social"
                        class=" text-base text-color surface-overlay p-2 border-1 
                                border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field xl:col-6 md:col-6 sm:col-12">
                    <label for="nom_contacto">Nombre de contacto</label>
                    <input id="nom_contacto" type="email" [(ngModel)]="proveedor.nom_contacto" name="nom_contacto"
                        class=" text-base text-color surface-overlay p-2 border-1 
                                border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field xl:col-6 md:col-6 sm:col-12">
                    <label for="tel_contacto">Teléfono de contacto</label>
                    <input id="tel_contacto" type="text" [(ngModel)]="proveedor.tel_contacto" name="tel_contacto"
                        class=" text-base text-color surface-overlay p-2 border-1 
                                border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field xl:col-6 md:col-6 sm:col-12">
                    <label for="pago">Método de pago</label>
                    <p-dropdown id="pago" name="selectedPago" [style]="{'width': '100%'}" [options]="pagos" [(ngModel)]="proveedor.idPago" optionLabel="nombre" optionValue="id"></p-dropdown>
                </div>
                <div class="field xl:col-6 md:col-6 sm:col-12">
                    <label for="estado">Estado</label>
                    <p-dropdown id="estado" name="selectedEstado" [style]="{'width': '100%'}" [options]="estados" [(ngModel)]="proveedor.idEstado" optionLabel="descripcion" optionValue="id"></p-dropdown>
                </div>
                <div class="field xl:col-12 md:col-12 sm:col-12">
                    <div class="flex justify-content-between align-items-center mb-2">
                        <label for="diraccion">Dirección preferida</label>
                        <a (click)="mostrarDirecciones()" *ngIf="proveedor.id != 0" style="cursor: pointer; align-items: center;"><fa-icon [icon]="['fas', 'clipboard-check']"></fa-icon><span class="ml-2" >Administrar direcciones</span></a>
                    </div>
                    
                    <div id="diraccion" class="p-inputgroup mb-3">
                        <p-dropdown [disabled]="proveedor.id == 0" name="selectedDireccion" placeholder="Select a Country" [showClear]="true" [style]="{'width': '100%'}" [options]="direcciones" [(ngModel)]="proveedor.idDireccion"  optionLabel="direccion" optionValue="id"></p-dropdown>
                        <button [disabled]="proveedor.id == 0" (click)="crearDireccion()" pButton pRipple icon="icon" class="p-button-success ml-3" pTooltip="Agregar dirección" tooltipPosition="left"><fa-icon [icon]="['fas', 'plus']"></fa-icon></button>
                    </div>
                    <p-messages [(value)]="messages" *ngIf="proveedor.id == 0" [enableService]="false" [closable]="false"></p-messages>
                </div>
            </div>
            <p-button label="Almacenar" (onClick)="registrarProveedor()" icon="icon" styleClass="p-button-sm mt-2"><fa-icon [icon]="['fas', 'save']"></fa-icon></p-button>
        </div>
    </div>
</div>

<!-- ##################### VETANA DE REGISTRO DE DIRECCIONES ########################### -->

<p-dialog header="Header" [(visible)]="showDirections" [style]="{ 'min-width': '70vw', 'max-height': '600px'}">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Administrar direcciones</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="dashboard">
            <div class="grid">
                <div class="col-12 md:col-12 lg:col-4" *ngFor="let dir of direcciones">
                    <div class="card profile-details col-12"  style="padding: 0; position: relative; border-radius: 15px !important; ">
                        <a (click)="editarDireccion(dir)" class="button_edit"><fa-icon [icon]="['fas', 'cog']"></fa-icon></a>
                        <!-- <p-button icon="pi pi-check" *ngIf="dir.id == proveedor.idDireccion" [style]="{'margin': '2px'}" styleClass="p-button-rounded p-button-outlined button_select"></p-button> -->
                        <a class="button_select" *ngIf="dir.id == proveedor.idDireccion"><fa-icon [icon]="['fas', 'circle-check']"></fa-icon></a>
                        <!-- <p-button (onClick)="registrarProveedor()"  icon="icon" styleClass="p-button-rounded p-button-warning p-button-text button_edit"><fa-icon [icon]="['fas', 'save']"></fa-icon></p-button> -->
                        <img src="assets/layout/images/mapa.png" style="border-radius: 15px 15px 0 0  !important;" alt="california-layout" class="mb-5"/>
                        
                        <div class="col-12" style="text-align: center">
                            <img style="width: 50px; height: 50px;" src="assets/layout/images/4974554.png" alt="california-layout" class="profile-avatar" />
                        </div>
                        <div class="col-12" style="text-align: center">
                            <span class="profile-name">Dirección</span>
                            <span class="profile-role">{{dir.direccion}}</span>
                        </div>
                        <!-- <div class="col-12" style="text-align: center; margin-top: -50px">
                            <p-button label="Warning" styleClass="p-button-rounded p-button-warning"></p-button>
                        </div> -->
                        <div class="formgrid grid col-12">
                            <!-- <div class="profile-statistics-panel col-12">
                                <span class="profile-statistics">{{dir.telefono}}</span>
                                <span class="statistics-title">TELÉFONO</span>
                            </div> -->
                            <!-- <div class="formgrid grid" style="width: 100%;"> -->
                                <div class="field xl:col-1 md:col-2 sm:col-2 col-2" ><fa-icon [icon]="['fas', 'truck-fast']" class="mr-3" ></fa-icon></div>
                                <div class="field xl:col-4 md:col-4 sm:col-4 col-4" ><b>Cod. Postal.:</b></div>
                                <div class="field xl:col-7 md:col-6 sm:col-6 col-6" >{{dir.cod_postal}}</div>
                                <div class="field xl:col-1 md:col-2 sm:col-2 col-2" ><fa-icon [icon]="['fas', 'mobile-screen']" class="mr-3" ></fa-icon></div>
                                <div class="field xl:col-4 md:col-4 sm:col-4 col-4" ><b>Teléfono.:</b></div>
                                <div class="field xl:col-7 md:col-6 sm:col-6 col-6" >{{dir.telefono}}</div>
                                <div class="field xl:col-1 md:col-2 sm:col-2 col-2" ><fa-icon [icon]="['fas', 'city']" class="mr-3" ></fa-icon></div>
                                <div class="field xl:col-4 md:col-4 sm:col-4 col-4" ><b>Ciudad.:</b></div>
                                <div class="field xl:col-7 md:col-6 sm:col-6 col-6" >{{dir.ciudad}}</div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="showDirections = false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
    
</p-dialog>

<p-dialog [contentStyle]="{'overflow': 'visible'}"  header="Header" [(visible)]="editDirection" [style]="{ width: '30vw' }" [baseZIndex]="1">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{title}}</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="formgrid grid">
            <div class="field xl:col-12 md:col-12 sm:col-12">
                <label for="proveedor">Proveedor</label>
                <input id="proveedor" type="text" value="{{proveedor.razon_social}}" name="proveedor"
                    class=" text-base text-color surface-overlay p-2 border-1 
                            border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <!-- telefono, instrucciones, idEstado, createdAt, updatedAt -->
            <div class="field xl:col-4 md:col-4 sm:col-12">
                <label for="pais">Pais</label>
                <input id="pais" type="text" [(ngModel)]="direccion.pais" name="pais"
                    class=" text-base text-color surface-overlay p-2 border-1 
                            border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field xl:col-4 md:col-4 sm:col-12">
                <label for="ciudad">Ciudad</label>
                <input id="ciudad" type="text" [(ngModel)]="direccion.ciudad" name="ciudad"
                    class=" text-base text-color surface-overlay p-2 border-1 
                            border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field xl:col-4 md:col-4 sm:col-12">
                <label for="cod_postal">Código postal</label>
                <input id="cod_postal" type="text" [(ngModel)]="direccion.cod_postal" name="cod_postal"
                    class=" text-base text-color surface-overlay p-2 border-1 
                            border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field xl:col-12 md:col-12 sm:col-12">
                <label for="direccion">Direccion</label>
                <input id="direccion" type="email" [(ngModel)]="direccion.direccion" name="direccion"
                    class=" text-base text-color surface-overlay p-2 border-1 
                            border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field xl:col-12 md:col-12 sm:col-12">
                <label for="telefono">Teléfono</label>
                <input id="telefono" type="text" [(ngModel)]="direccion.telefono" name="telefono"
                    class=" text-base text-color surface-overlay p-2 border-1 
                            border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field xl:col-12 md:col-12 sm:col-12">
                <label for="instrucciones">Instrucciones especiales</label>
                <textarea pTooltip="Describa en este apartado si cuenta con instrucciones especiales" 
                id="float-input" [style]="{'width':'100%'}" tooltipPosition="top"
                rows="5" 
                pInputTextarea 
                [(ngModel)]="direccion.instrucciones" name="instrucciones"></textarea>
                <!-- <input id="instrucciones" type="email" [(ngModel)]="direccion.instrucciones" name="instrucciones"
                    class=" text-base text-color surface-overlay p-2 border-1 
                            border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"> -->
            </div>
            <div class="field xl:col-12 md:col-12 sm:col-12">
                <label for="estado">Estado</label>
                <p-dropdown id="estado" name="idEstado" [style]="{'width': '100%'}" [options]="estados" [(ngModel)]="direccion.idEstado" optionLabel="descripcion" optionValue="id"></p-dropdown>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
            <p-button icon="pi pi-trash" [hidden]="!(direccion.id > 0)" (click)="eliminarDireccion(direccion)" label="Ok" label="Eliminar" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-save" label="Almacenar" (onClick)="almacenarDireccion()" styleClass="p-button-text"></p-button>
        </div>
    </ng-template>

</p-dialog>