<div class="grid" style="width: 100%; height: 100%;">
    <div class="card flex justify-content-center flex-wrap align-content-center" style="width: 100%; height: 100%;">
        <div class="product-item" style="width:80%">
            <div class="product-item-content">
                <img src="assets/layout/images/DashboardSet.png" 
                    style="overflow: hidden;background-repeat: no-repeat;"
                    width="100%" height="100%" >
            </div>
        </div>
    </div>
</div>

