<div class="dashboard">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-3">
            <div class="card profile-details col-12"  style="padding: 0">
                <img src="assets/layout/images/image-profile.png" alt="california-layout" />
                <div class="col-12" style="text-align: center">
                    <img src="assets/layout/images/profile-avatar.png" alt="california-layout" class="profile-avatar" />
                </div>
                <div class="col-12" style="text-align: center">
                    <span class="profile-name">Pauline Harrell</span>
                    <span class="profile-role">Administrator</span>
                </div>
                <div class="col-12" style="text-align: center; margin-top: -50px">
                    <p-button type="button" label="Edit Profile" ></p-button>
                </div>
                <div class="col-12">
                    <div class="profile-statistics-panel col-4">
                        <span class="profile-statistics">1098</span>
                        <span class="statistics-title">Articles</span>
                    </div>
                    <div class="profile-statistics-panel col-4">
                        <span class="profile-statistics">22,681</span>
                        <span class="statistics-title">Followers</span>
                    </div>
                    <div class="profile-statistics-panel col-4">
                        <span class="profile-statistics">880</span>
                        <span class="statistics-title">Following</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
